/*
边框针对不同设备进行缩放
*/
//针对最小dpi为1.5做配置
@media (-webkit-min-device-pixel-ratio: 1.5), (min-device-pixel-ratio: 1.5)
  .border-1px
    &::after
      -webkit-transform: scaleY (0.7)
      transform: scaleY (0.7)
@media (-webkit-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2)
  .border-1px
    &::after
      -webkit-transform: scaleY (0.5)
      transform: scaleY (0.5)
    